html {
    min-height: 100vh;
}


/* * {
    box-sizing: border-box;
}
 */

body {
    margin: 0;
   
}


h1 {
    margin: 0;
}


/* Game logo position */
.theme-title {
    background: url(/assets/images/farm/game-logo.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 200px;
    width: 300px;
    position: relative;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
}

/* Game background */
#game-background {
    height: 100vh;
    background: url(/assets/images/farm/farm-bg-img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Menu */
.menu-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 3px solid red;
    width: 500px;
    background-color: black;
}

#menu {
    display: grid;
    margin: 10px;
}

.menu-button {
    height: 80px;
    margin: 20px;
    
}

.choose-theme {
    color: red;
    position: relative;
    left: 36%;
}

.theme-container {
    display: inline-flex;
    color: red;
    position: relative;
    left: 20px;
}

.theme-selector {
    height: 80px;
    width: 80px;
    padding: 10px;
    border: 3px solid red;
    margin: 20px;
}
/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  height: 80px;
  margin: 20px;
}


/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: contents;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
    display:block;
}